body{
  display: flex;
  justify-content: center;
  align-items: middle;
}

.wrapper{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;

}


.wrapper-3,
.wrapper-4,
.wrapper-1,
.wrapper-2{
  width: 100%;
  display: flex;
  align-items: baseline;
gap: 3em;
}

.SB-4,
.SB-3,
.SB-1,
.SB-2{
  width: 80%;
}

#display4,
#display3,
#display1,
#display2{
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid rgb(170, 170, 235);
  box-shadow: 5px 5px lightblue;
  background-color: antiquewhite;
}
